*.o
*.moc
*.pyc
.~lock*
*~
.directory
*.kate-swp
ui/*.h
bin/*
!bin/.dir
obj/*
!obj/.dir
plugins/*
!plugins/.dir
3rdparty/*
!3rdparty/.dir
perf.data
perf.data.old
gmon.out
Debug/*
Release/*
build/*
takin.app/*
.DS_*
.clang/*
.codelite/*
.settings/*
takin.txt
takin.mk
montereso.txt
montereso.mk
monteconvo.txt
monteconvo.mk
scanviewer.txt
scanviewer.mk
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
FindQwt.cmake
Makefile
tlibs-master.tar.bz2
tlibs/*
tlibs
takin-data-master.tar.bz2
takin-data/*
takin-data
tango-icon-theme*.tar.gz
tmp
tmp/*
res/data/*
res/doc/**
res/icons/*
!res/icons/brillouin.svg
!res/icons/ellipses.svg
!res/icons/goto.svg
!res/icons/q.svg
!res/icons/takin.svg
!res/.dir
!res/icons/.dir
!res/data/.dir
!res/doc/.dir
*.svg
*.xml
*.gz
*.htm
*.html
!doc/index_help.html
!doc/toc.html
!doc/takin.html
!doc/build.html
!doc/setup.html
!doc/basics.html
!doc/reso.html
!doc/convo.html
!doc/fit.html
!doc/reso-sqw.html
!doc/reso-sqw-native.html
!doc/reso-sqw-py.html
!doc/reso-sqw-jl.html
doc/devel/**
!doc/devel/.dir
!doc/.dir
takin.log
*.qch
*.qhc
Faddeeva.*
