[Desktop Entry]
	Name=Takin
	GenericName=Neutron scattering
	Type=Application
	Exec=/usr/local/bin/takin_local.sh
	Icon=/usr/local/share/takin/res/icons/takin.svg
	Categories=Science;Physics;
	Comment=Inelastic neutron scattering package.
	Terminal=false
	StartupNotify=false
